{% extends 'mainpage.html' %}


{% block title %}
COURSE-DETAILS
{% endblock title %}

{% block extralinks %}

  <style>
      .video-container {
        position: relative;
        width: 100%;
        max-width: 100%;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
    }

    .video-container video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

  </style>

  <style>
    .toggle {
      background-color: grey;
      width: 60px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
    }
    .toggle-active {
      background-color: blue;
      width: 60px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    input {
      display: none;
    }
    .slider {
      height: 24px;
      width: 24px;
      background-color: white;
      border-radius: 12px;
      margin: 4px;
    }
    input:checked + .toggle {
      background-color: green;
    }
    input:checked + .toggle > .slider {
      align-self: flex-end;
    }

  </style>

{% endblock extralinks %}


{% block content %}

<h2>{{my_course}}</h2>
<p style="text-align: justify;" >{{my_course.subject_description}}</p>
<hr class="shadow-lg">



<section class="section profile">

    <div class="row">      
      <div class="col-xl-12">  
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered">
  
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Create Chapter</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Chapters</button>
              </li>
  
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Course Students</button>
              </li>             
  
            </ul>



  
            <div class="tab-content pt-2">  

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                
                <div class="card-header login-card-header mb-3">
                  <h4>Chapter Create  </h4>
                </div>

                <form method="post" action="{% url 'teachers-course-details' %}" enctype="multipart/form-data">
                  {% csrf_token %}
        
                  <input type="hidden" name="_method" value="CHAPTERCREATE"> 

                  <input type="hidden" name="subject_id" value="{{my_course.id}}" id="">
        
                  <div class="form-group mb-3">
                    <label  class="form-label">Chapter Name <sup style="color: red;">*</sup></label>
                    <input type="text" class="form-control"   name="chapter_name" required>
                  </div>
                          
                  <div class="form-group mb-3">
                    <label for="username" class="form-label">Number of Lesson</label>
                    <input type="number" class="form-control" name="number_of_lessons" value="">
                  </div>
        
                  <div class="form-group mb-3">
                    <label for="username" class="form-label">Chapter Plan</label>
                    <input id="pdfInput" type="file" class="form-control" name="chapter_plan">
                  </div>
        
                  <hr class="mt-4">                 
        
                  <button class="btn btn-white btn-outline-warning text-danger ms-auto d-block w-25" >submit</button> 
                 
                </form>
                
  
              </div>










  
        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

          
                          
          <ul class="sidebar-nav" id="sidebar-nav">
                      
            {% for ch in chapter_with_lesson %}
            <span class="card p-4">
              <button type="button" data-bs-toggle="modal" data-bs-target="#verticalycentered-{{ch.0.id}}" class="btn btn-outline-success d-block w-25 me-auto mb-3" href="#">edite chapter</button>
            <li class="nav-item">
              <a class="nav-link " data-bs-target="#components-nav-{{ch.0.id}}" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>{{ch.0.chapter_name}}</span><i class="bi bi-chevron-down ms-auto"></i>
              </a>

              <div id="components-nav-{{ch.0.id}}" class="nav-content collapse" data-bs-parent="#sidebar-nav">

                <div class="div.container-fluid" >

          

                  {% for les in ch.1 %}
                  <div class="row">
                    <div class="card-header login-card-header mb-3">
                      <h4>Lesson : {{les.lesson_name}}</h4>
                    </div>

                    <div class="col-lg-8 col-md-8">

                      <form method="post" action="{% url 'teachers-course-details' %}" enctype="multipart/form-data" >
                              {% csrf_token %}
                    
                        <input type="hidden" name="_method" value="UPDATELESSON"> 
                        
                        <input type="hidden" name="lesson_id" value="{{les.id}}" >
                    
                        <div class="row">

                          <div class="form-group mb-3 col-sm-6">
                            <label  class="form-label">Lesson Name<sup style="color: red;">*</sup></label>
                            <input type="text" value="{{les.lesson_name}}" class="form-control"   name="lesson_name" required>
                          </div>


                          <div class="form-group mb-3 col-sm-6">
                            <label class="form-label">Lesson Rescource</label>
                            <input id="pdfInput-Rescource-{{les.id}}" type="file" class="form-control" name="lesson_resource">
                          </div> 
                          
                                                              
                       
                      
                          <div class="form-group mb-3 col-sm-6">
                              <label for="username" class="form-label">Assignment</label>
                              <input id="pdfInput-assignment-{{les.id}}" type="file" class="form-control" name="assignment">
                          </div>


                          <div class="form-group mb-3 col-sm-6">
                            <label for="username" class="form-label">Submission Date</label>
                            <input type="date" class="form-control" name="lsat_date_of_submission">
                          </div>


                          <div class="form-group mb-3 col-sm-6">
                            <label  class="form-label">Live Class</label>
                            <input type="url" placeholder="live class url" class="form-control" name="live_class_link">
                          </div>

                          <div class="form-group mb-3 col-sm-6">
                            <label  class="form-label">Class Date</label>
                            <input type="date" class="form-control" name="live_class_date">
                          </div>

                          <div class="form-group mb-3 col-sm-6">
                            <label for="username" class="form-label">Record Class</label>
                            <input id="pdfInput-record-{{les.id}}" type="file" class="form-control" name="lesson_video">
                          </div>

                          <div class="form-group mb-3 col-sm-6">
                            <label for="username" class="form-label">Youtube Video Iframe</label>
                            <input type="text" placeholder="iframe" class="form-control" name="iframe_data">
                          </div>

                          <button class="btn btn-white w-100 btn-outline-warning text-danger form-control" >save changes</button> 


                          

                          
                        </div>     
                      </form>
                            
                    </div>

                    <div class="col-lg-4 col-md-4">

                      <div class="row">

                        <div class="mb-3 col-sm-6">
                          <label for="username" class="form-label">Lesson Resorces</label>
                          {% if les.resource_file %} 
                            <a target="_blank" href="{{les.resource_file.url}}">show</a>
                          {% else %}
                          <button type="button" data-bs-toggle="modal" class="btn btn-outline-primary form-control disabled" >show</button>

                          {% endif %}
                        </div>

                        <div class="mb-3 col-sm-6">
                          <label for="username" class="form-label">Lesson Resorces</label>
                          <button class="btn btn-outline-danger form-control" >delete</button>
                         
                        </div>

                        <div class="mb-3 col-sm-6">
                          <label for="username" class="form-label">Assignment</label>

                          {% if les.assignment %} 
                          <a target="_blank" href="{{les.assignment.url}}">show</a>
                        {% else %}
                        <button type="button" data-bs-toggle="modal" class="btn btn-outline-primary form-control disabled" >show</button>

                        {% endif %}

                        </div>

                        <div class="mb-3 col-sm-6">
                          <label for="username" class="form-label">Assignment</label>
                          <button class="btn btn-outline-danger form-control" >delete</button>
                         
                        </div>

                        <div class="mb-3 col-sm-12">
                          <label for="username" class="form-label">Live class Date</label>
                          <input type="text" value="{{les.live_class_date|date}}" class="form-control">                       
                         
                        </div>

                        <div class="mb-3 col-sm-6">
                          <label for="username" class="form-label">Record Class</label>
                          <button type="button" data-bs-toggle="modal" data-bs-target="#lessonRecordClass-{{les.id}}" class="btn btn-outline-primary form-control" >show</button>
                        </div>

                        <div class="mb-3 col-sm-6">
                          <label for="username" class="form-label">Record Class</label>
                          <button class="btn btn-outline-danger form-control" >delete</button>
                        </div>

                        

                      </div>
                    </div>

                    <hr class="mt-2">  

                                        
                  </div>


                  {% endfor %}


                  <div id="LessonCreate-{{ch.0.id}}" >

                  </div>  

                  <button onclick="showForm({{ch.0.id}})" class="btn btn-outline-warning w-100" >Create a new Lesson</button>


                
                
                </div>

              </div>
                    

            </li><!-- End Components Nav -->

            

            </span>
             {% endfor %}
            
            
                </ul>
                
                 <!-- End Sidebar--> 
                
        
        
        </div>











  
              <div class="tab-pane fade pt-3" id="profile-settings">
                <section class="section">
                  <div class="row">
                    <div class="col-lg-12">
              
                      <div class="">
                        <div class="">
                          <h5 class="card-title">Students</h5>
                          
              
                          <!-- Table with stripped rows -->
                          <table class="table datatable">
                            <thead>
                              <tr>
                                <th>
                                  <b>N</b>ame
                                </th>
                                <th>Department</th>
                                <th>Email</th>
                                <th data-type="date" data-format="YYYY/DD/MM">Apply Date</th>
                                <th>Actions</th>
                              </tr>
                            </thead>
              
              
                            <tbody>
              
                          
                              {% for app in cs %}
                              <tr>
                                <td>{{app.student.first_name}} {{app.student.last_name}}</td>
                                <td>{{app.student.department_code}}</td>
                                <td>{{app.student.email}}</td>
                                <td>{{app.create_at|date}}</td>
                                <td>

                                  <div class="row">
                                    <div class="col-6">
                                      <button type="button" data-bs-toggle="modal" data-bs-target="#application-{{app.id}}" class="btn btn-danger">view</button> 

                                    </div>
                                    <div class="col-6">
                                      {% if app.status %}
                                      <input value="1" checked name="status" type="checkbox" id="example-s-{{app.id}}"/>
                                      {% else %}
                                      <input value="1" name="status" type="checkbox" id="example-s-{{app.id}}"/>
                                      {% endif %}
                                      <label for="example-s-{{app.id}}" class="toggle">
                                      <div class="slider"></div>
                                      </label>

                                    </div>

                                  </div>

                                  
                                  
                                  

                                </td>
                              </tr>
                              {% endfor %}
                             
              
              
              
                           </tbody>

                          </table>
                          <!-- End Table with stripped rows -->
              
                        </div>
                      </div>
              
                    </div>
                  </div>
                </section>
           
  
                
              </div>
  
             
            </div><!-- End Bordered Tabs -->
  
          </div>
        </div>
  
      </div>
    </div>
</section>

<!-- View by modal view by modal view by modal -->





{% for ch in chapter_with_lesson %}
{% for les in ch.1 %}
  <div class="modal fade" id="lessonRecordClass-{{les.id}}" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lesson Record - {{les.lesson_name}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          {% if les.lesson_video %}
          <div class="video-container w-50 me-auto ms-auto">
            <video src="{{les.lesson_video.url}}" controls></video>
          </div>        
          {% else %}

          <div class="video-placeholder">
            <p>Video not available</p>
          </div>

          {% endif %}

          <hr>


          {% if les.iframe_data %}
          <div class="me-auto ms-auto w-50">
            {{les.iframe_data|safe}}
          </div>        
          {% else %}

          <div class="video-placeholder">
            <p>Video not available</p>
          </div>

          {% endif %}

         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div><!-- End Lesson Record class-->
{% endfor %}
{% endfor %}


<!-- Student Application Details -->
{% for app in cs %}
<div class="modal fade" id="application-{{app.id}}" tabindex="-1">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Application | {{app.course.subject_name}} | Application id : {{app.id}} </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="container">

           <div class="tab-content pt-2">
            <div class="row">
              <div class="col-10 me-auto ms-auto p-4">

                <div class="tab-pane fade profile-edit show active pt-3" id="profile-edit" role="tabpanel">

                  <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        {% if app.student.profile_pic %}
                        <img width="250px" src="{{app.student.profile_pic.url}}" alt="Profile">
                        {% else %}
                        <img width="250px" src="/static/users.jpg" alt="Profile">
                        {% endif %}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" disabled value="{{app.student.first_name}} {{app.student.last_name}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea disabled name="about" class="form-control" id="about" style="height: 100px">{{app.student.about}}</textarea>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Department</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="company" type="text" class="form-control" id="company" value="{{app.student.department_code}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Job</label>
                      <div class="col-md-8 col-lg-9">
                        {% if app.student.is_student %}
                        <input disabled name="job" type="text" class="form-control" id="Job" value="Student">
                        {% else %}
                        <input disabled name="job" type="text" class="form-control" id="Job" value="Instractor">
                        {% endif %}
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Country</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="country" type="text" class="form-control" id="Country" value="{{app.student.country}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="address" type="text" class="form-control" id="Address" value="{{app.student.address}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="phone" type="text" class="form-control" id="Phone" value="{{app.student.phone}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="email" type="email" class="form-control" id="Email" value="{{app.student.email}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Twitter" class="col-md-4 col-lg-3 col-form-label">Twitter Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="twitter" type="text" class="form-control" id="Twitter" value="{{app.student.tweter_url}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Facebook" class="col-md-4 col-lg-3 col-form-label">Facebook Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="facebook" type="text" class="form-control" id="Facebook" value="{{app.student.facebook_url}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="instagram" type="text" class="form-control" id="Instagram" value="{{app.student.instagram_url}}">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Linkedin" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                      <div class="col-md-8 col-lg-9">
                        <input disabled name="linkedin" type="text" class="form-control" id="Linkedin" value="{{app.student.linkedin_url}}">
                      </div>
                    </div>

                    
                  </form><!-- End Profile Edit Form -->
                  

                  <form action="{% url 'teachers-course-details' %}" method="post">
                    {% csrf_token %}

                    <input type="hidden" name="_method" value="APPLACATIONACCEPT"> 

                    <input type="hidden" name="application_id" value="{{app.id}}" >


                    <hr>

                    <div class="row">

                      <div class="col-6">
                        {% if app.status %}
                        <input value="1" checked name="status" type="checkbox" id="example-{{app.id}}"/>
                        {% else %}
                        <input value="1" name="status" type="checkbox" id="example-{{app.id}}"/>
                        {% endif %}
                        <label for="example-{{app.id}}" class="toggle">
                        <div class="slider"></div>
                        </label>

                      </div>

                      <div class="col-6">
                        <button class="btn btn-outline-warning d-block ms-auto">save changes</button>
                      </div>

                    </div>
                    

                    
                  </form>

                </div>


              </div>
            </div>

              
          </div>

        </div>

       

       
      </div>
      
    </div>
  </div>
</div>
{% endfor %}
<!-- End Student application details -->




{% for ch in chapter_with_lesson %}
<div class="modal fade" id="verticalycentered-{{ch.0.id}}" tabindex="-1" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ch.0.chapter_name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">        
                
          <div class="card-header login-card-header mb-3">
            <h4>Update Chapter</h4>
          </div>

          <form method="post" action="{% url 'teachers-course-details' %}" enctype="multipart/form-data">
            {% csrf_token %}
  
            <input type="hidden" name="_method" value="CHAPTERUPDATE"> 

            <input type="hidden" name="chapter_id" value="{{ch.0.id}}" id="">
  
            <div class="form-group mb-3">
              <label  class="form-label">Chapter Name <sup style="color: red;">*</sup></label>
              <input type="text" class="form-control"   name="chapter_name" value="{{ch.0.chapter_name}}" required>
            </div>
                    
            <div class="form-group mb-3">
              <label for="username" class="form-label">Number of Lesson</label>
              <input type="number" class="form-control" name="number_of_lessons" value="{{ch.0.number_of_lessons}}" value="">
            </div>
  
            <div class="form-group mb-3">
              <label for="username" class="form-label">Chapter Plan</label>
              <input id="pdfInput" type="file" class="form-control" name="chapter_plan">
            </div>
  
            <hr class="mt-4">                 
  
            <button class="btn btn-white btn-outline-warning text-danger ms-auto d-block w-25" >submit</button> 
           
          </form>
          

        

      </div>
      
    </div>
  </div>
</div>

{% endfor %}








{% endblock content %}








{% block extrascripts %}

<script>
document.getElementById("pdfInput").addEventListener("change", function(event) {
    const file = event.target.files[0];
    if (file) {
        if (file.type !== "application/pdf") {
            alert("Only PDF files are allowed.");
            event.target.value = "";
            return;
        }
        
        const maxSize = 300 * 1024; // 300 KB
        if (file.size > maxSize) {
            alert("File size must be less than 300 KB.");
            event.target.value = "";
            return;
        }
        
        
    }
});

// Attach event listener to the correct file input
document.querySelector("input[name='chapter_plan']").setAttribute("id", "pdfInput");

</script>


<!-- end resurce validation -->
{% for ch in chapter_with_lesson %}
{% for les in ch.1 %}
<script>
  document.getElementById("pdfInput-Rescource-{{les.id}}").addEventListener("change", function(event) {
      const file = event.target.files[0];
      if (file) {

        
                    
        const maxSize = 2.5 * 1024 * 1024; // 5 MB

        if (file.size > maxSize) {
            alert("File size must be less than 2.5 MB.");
            event.target.value = "";
            return;
        }
          
          
      }
  });
  
  // Attach event listener to the correct file input
  document.querySelector("input[name='chapter_plan']").setAttribute("id", "pdfInput");
  
</script>

{% endfor %}
{% endfor %}
<!-- end resurce validation -->



<!-- end assignment validation -->
{% for ch in chapter_with_lesson %}
{% for les in ch.1 %}
<script>
  document.getElementById("pdfInput-assignment-{{les.id}}").addEventListener("change", function(event) {
      const file = event.target.files[0];
      if (file) {

        if (file.type !== "application/pdf") {
            alert("Only PDF files are allowed.");
            event.target.value = "";
            return;
        }
                    
        const maxSize = 1 * 1024 * 1024; // 1 MB

        if (file.size > maxSize) {
            alert("File size must be less than 1 MB.");
            event.target.value = "";
            return;
        }
          
          
      }
  });
  
  // Attach event listener to the correct file input
  document.querySelector("input[name='chapter_plan']").setAttribute("id", "pdfInput");
  
</script>
{% endfor %}
{% endfor %}
<!-- end assignment validation -->




<!-- end record class validation -->
{% for ch in chapter_with_lesson %}
{% for les in ch.1 %}
<script>
  document.getElementById("pdfInput-record-{{les.id}}").addEventListener("change", function(event) {
      const file = event.target.files[0];
      if (file) {

        if (file.type !== "video/mp4") {
            alert("Only MP4 files are allowed.");
            event.target.value = "";
            return;
        }


                    
        const maxSize = 1 * 1024 * 1024; // 1 MB

        if (file.size > maxSize) {
            alert("File size must be less than 1 MB.");
            event.target.value = "";
            return;
        }
          
          
      }
  });
  
  // Attach event listener to the correct file input
  document.querySelector("input[name='chapter_plan']").setAttribute("id", "pdfInput");
  
</script>
{% endfor %}
{% endfor %}
<!-- end record class validation -->









<script>

function showForm(chapterId) {
    document.getElementById("LessonCreate-" + chapterId).innerHTML = `
        <div class="p-3 border rounded position-relative">
            <button type="button" class="btn-close position-absolute top-0 end-0 m-2 fs-2" aria-label="Close" onclick="hideForm('${chapterId}')"></button>
            <h5>Create Lesson</h5>

            <form method="post" action="{% url 'teachers-course-details' %}">

              {% csrf_token %}

              <input type="hidden" name="_method" value="CHAPTELESSON"> 

              <input type="hidden" value="${chapterId}" class="form-control" name="chapter_id">

              <div class="mb-3">
                  <label for="lessonTitle" class="form-label">Lesson Name</label>
                  <input type="text" class="form-control" name="lesson_name">
              </div>

              
              <button type="submit" class="btn btn-success">Submit</button>
  
            </form>


            




        </div>
    `;
}

function hideForm(chapterId) {
    document.getElementById("LessonCreate-" + chapterId).innerHTML = ''; // Clears the form
}

</script>





{% endblock extrascripts %}


