{% extends 'basepage.html' %}
{% block title %}
EDUCARE- ABOUT
{% endblock %}

{% block content %}
    <div class="container-fluid pt-5">
        <h4>About Page</h4>
        <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum natus mollitia tempore, asperiores inventore corrupti aspernatur ut culpa eaque doloribus sed ullam praesentium facere nesciunt quos, placeat tenetur doloremque, repellat voluptatibus quasi iure earum reprehenderit! Esse fugit, sed placeat quis ut iure cupiditate inventore quisquam similique suscipit porro, corporis voluptatem et quidem accusantium obcaecati! Nisi accusantium maiores delectus ducimus, sed magnam blanditiis veniam quas. Cum a at sit accusantium, vero officia, quaerat dicta impedit exercitationem fuga possimus magnam sed tempore unde fugiat omnis! Odio alias aliquam, laboriosam, facilis quae impedit a quas error eaque unde explicabo modi corrupti eius earum.</p>
    


    </div>

{% endblock content %}